.button_padrao {
  background-color: transparent;
  transition: 0.2s;
  font-size: 0.75rem;
  border: 1px solid var(--secondary-color);
  font-weight: bold;
  height: 40px;
  color: var(--secondary-color);
}

.button_padrao:focus {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color) !important;
  background: transparent;

}

.button_padrao:hover {
  background-color: var(--secondary-color) !important;
  color: var(--light);
  border: 1px solid var(--primary-color);
}
